<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Newline</title>

    <%= {:safe, css_link_tag(@conn) } %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">

  </head>

  <body>
    <main class="main" role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= {:safe, js_script_tag(@conn) } %>
  </body>
</html>
