* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, #root, .app, .wrapper {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 16px sans-serif;
}
