@import "./variables.css";

.main_interface {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;

    header {
      background: $primaryColor;
    }

    .content {
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media (min-width: $large-screen) {
  .main_interface {
    flex-direction: row;

    .container {
      width: calc(100% - $sidebar-width-expanded);
    }

    > * {
      flex: 0 0 auto;
      overflow: scroll;
    }

    .sidebar {
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      section {
        h3 {
          font-size: 0.9em;
        }
      }
    }

    .content {
      flex: 1;
    }

    footer {
      height: $footer-height;
    }
  }
}
